/* add home page styles here */

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.ingredients {
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 700px;
    background: burlywood;
    border: 2px solid #333;

}
.ingredients-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}
.h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;

}
.meals {
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 700px;
    background: burlywood;
    border: 2px solid #333;
}
#meal-report {
    display: flex;
    flex-direction: row;
    padding: 100px;
    width: 700px;
    background: burlywood;
    border: 2px solid #333;
}
